@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:20px">
    <div class="jumbotron">
        <p>Liên hệ với chúng tôi</p>
        <h1>SkyWave Airlines</h1>
        <p class="lead">Địa chỉ: 102 Đường Thịnh Vượng, Quận Bình Thạnh, Hồ Chí Minh, Việt Nam</p>
        <p>Website đại lý chính thức hãng SkyWave Airlines.</p>
        <p>Tel(+8424) 123421</p>
        <p>Email: asdsaphat@gmail.com</p>
    </div>
</div>
