
@{
    ViewBag.Title = "Deals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container deals">
    <h2 style="color: #2d8301"><b>TIN KHUYẾN MÃI</b></h2>
    <hr style="margin:auto";size="3";color="black">
    <br />
    <div class="col-md-12" style="margin-bottom:40px">
        <div class="col-md-4">
            <img src="~/Asset/img/bay-mua-thu-bamboo-airways-1.jpg" alt="Alternate Text" />
        </div>
        <div class="col-md-8">
            <h2><a href="#">Bay tới mùa thu, vi vu khắp thế giới cùng SkyWave Airlines</a></h2>
            <p><b>18/05/2022</b></p>
            <p>
                Khám phá từ châu Á tới châu Âu chỉ từ 2.032.000VNĐ
                – Du lịch quốc tế đặt vé máy bay giá rẻ cùng Bamboo Airways dồn dập trở...
            </p>
        </div>
    </div>
    <div class="col-md-12" style="margin-bottom:40px">
        <div class="col-md-4">
            <img src="~/Asset/img/bamboo-airways-di-anh-uc-duc1.jpg" alt="Alternate Text" />
        </div>
        <div class="col-md-8">
            <h2><a href="#">SkyWave Airlines chính thức mở bán vé máy bay thẳng từ Việt Nam đi Anh, Úc , Đức</a></h2>
            <p><b>25/01/2022</b></p>
            <p>
                Cơ hội có 1-0-2 khi Bamboo Airways tri ân dành tặng tất cả các hành khách yêu mến hãng mức vé bay đồng giá...
            </p>
        </div>
    </div>
    <div class="col-md-12" style="margin-bottom:40px">
        <div class="col-md-4">
            <img src="~/Asset/img/bay-quoc-te-bamboo-airways.jpg" alt="Alternate Text" />
        </div>
        <div class="col-md-8">
            <h2><a href="#">SkyWave Airlines chính thức mở bán vé máy bay thẳng từ Việt Nam đi Anh, Úc , Đức</a></h2>
            <p><b>13/01/2022</b></p>
            <p>
                Năm mới gõ cửa cũng là lúc Bamboo Airways đón chào tin vui khi được chính thức phân bổ khai thác quốc tế thường...
            </p>
        </div>
    </div>
</div>

