@model IEnumerable<AirlinesReservationSystem.Models.TicketManager>

@{
    ViewBag.Title = "PayYourTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel panel-default" style="margin-top:30px">
        <div class="panel-heading" style="text-align:center"><h2>Vé của tôi</h2></div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Mã chuyến bay
                    </th>
                    <th>
                        vị trí
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Mã vé
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.flight_schedules_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.seat_location)
                        </td>
                        <td>
                            No Pay
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>
                        </td>
                    </tr>
                }

            </table>
            
        </div>

    </div>
</div>
<div style="text-align: center; margin-bottom:2px">
    <a style="text-align:center" class="btn btn-success" href="/Home/PaymentWithPaypal">Thanh toán</a>
</div>
<div id="detailTickModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        
        <div class="modal-content"></div>
    </div>
</div>


